---
import { author } from "@scripts/consts";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={author} />

    <meta property="og:site_name" content="Mesh Messenger" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta
      property="og:image"
      content={new URL("favicon-512.png", Astro.site)}
    />
    <meta property="og:image:alt" content="Mesh Icon." />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="manifest" href="/manifest.webmanifest" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
    />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
